.contact_box{
    display: flex;
    gap: 5em;
}
.map{
    margin: 1em;
    justify-content: center;
    align-items: center;

}
.time{
    text-align: center;
}
.socials{
    gap: 5em;
}
.pic{
    width: 3em;
    height: 3em;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.box > a{
    text-decoration: none;
    color: inherit;
}