.contact_box{
    display: flex;
    gap: 3em;
    justify-content: space-around;
}
.map{
    margin: 1em;
    justify-content: center;
    align-items: center;

}
.time{
    text-align: center;
    flex-wrap: wrap;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pic{
    width: 3em;
    height: 3em;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.box{
    margin: 1em;
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.box:hover{
    transform: scale(1.2);
    -webkit-text-fill-color: transparent;
}

/* Colors of Links*/
.ig{
    background: linear-gradient(to bottom right, #405de6 0%, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #ffdc80 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
.fb{
    background: linear-gradient(to bottom right, #1877f2 0%, #3b5998 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
.em{
    background: linear-gradient(to bottom right, #ffff66 0%, #ff9900 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Colors for SVG */
.ig:hover path{
    fill: url(#igGrad);
}
.fb:hover path{
    fill: url(#fbGrad);
}
.em:hover path{
    stroke: url(#emGrad);
}

@media (max-width: 900px) {
    .contact_box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
@media (max-width: 620px) {
    .contact_box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}