.contact_box{
    display: flex;
    gap: 3em;
    justify-content: space-around;
}
.map{
    margin: 1em;
    justify-content: center;
    align-items: center;

}
.time{
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pic{
    width: 3em;
    height: 3em;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.box{
    margin: 1em;
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}